* {
  font-family: "Righteous", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 65vh;
  margin: 0;
  background-image: url(/images/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

header {
  padding: 10px;
  text-align: center;
}
header h1 {
  color: #2c306f;
}
header p {
  color: #2c306f;
}

/* CSS untuk membuat gambar menjadi bulat */
.image-container {
  width: 200px; /* Sesuaikan lebar sesuai kebutuhan Anda */
  height: 200px; /* Sesuaikan tinggi sesuai kebutuhan Anda */
  position: relative;
  margin: auto;
}
.image-container .gambar-1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  height: 90%;
  opacity: 1;
}
.image-container .gambar-2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  height: 90%;
  opacity: 0;
  transition: 0s;
}
.image-container img {
  border-radius: 50%;
  border: 10px solid #c2f0e6;
}
.image-container:hover .gambar-2 {
  opacity: 1;
}

.custom-btn {
  width: 150px;
}

/*Kalkulator CSS*/
.calculator {
  border-radius: 10px;
  margin-top: 20px;
  background-color: #2c306f;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  transition: opacity 0.3s ease-in-out;
}

.display-box {
  font-family: "Orbitron", sans-serif;
  background-color: white;
  border: solid black 0.5px;
  color: black;
  border-radius: 100px;
  width: 100%;
  height: 100%;
}

#btn {
  background-color: #fb0066;
  border-radius: 3px;
}

input[type="button"] {
  font-family: "Orbitron", sans-serif;
  background-color: #ffd048;
  color: white;
  border: solid black 0.5px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  height: 70%;
  outline: none;
}

input:active[type="button"] {
  background: #e5e5e5;
  -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
  -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
  box-shadow: inset 0px 0px 5px #c1c1c1;
}
